{{#each results}}
  <div class="col s4 card-fixed">
	<div id="{{id}}" class="card hoverable">
	  <div class="card-image waves-effect waves-block waves-light">
	    <img class="activator" src="https://image.tmdb.org/t/p/w500{{poster_path}}">
	  </div>
	  <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4 truncate"><i class="material-icons more-info">info</i>{{title}}</span>
	      <p>Release Date: {{shorten-date release_date}}</p>
	  </div>
	  <div class="card-reveal">
	  	<span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
		<p>Year: {{shorten-date release_date}}</p>
		<br>
		<p>Plot:  {{overview}}</p>
		<article id="actor-reveal-{{id}}"></article>
	  </div>
	</div>
	<button movieid="{{id}}" poster="{{poster_path}}" title="{{title}}" date="{{release_date}}" plot="{{overview}}" type="button" class="btn waves-effect waves-teal add-movie">Add to Watch List</button>
	 


   {{!-- <form action="#">
    <p>
    <div class="col s1"> <i class="small material-icons">grades</i>
      <input type="checkbox" class="browser-default" checked="checked" />
      <label for=""></label>
      </div>
    </p>
    <p>
    <div class="col s1"><i class="small material-icons">grades</i>
      <input type="checkbox" class="star" checked="checked" />
      <label for=""></label>
      </div>
    </p>
    <p>
     <div class="col s1"><i class="small material-icons">grades</i>
      <input type="checkbox" class="star" checked="checked" />
      <label for=""></label>
      </div>
    </p>
    <p>
     <div class="col s1"><i class="small material-icons">grades</i>
      <input type="checkbox" class="star" checked="checked"/>
      <label for=""></label>
      </div>
    </p>
    <p>
     <div class="col s1"><i class="small material-icons">grades</i>
      <input type="checkbox" class="star" checked="checked"/>
      <label for=""></label>
      </div>
    </p>
    <p>
     <div class="col s1"><i class="small material-icons">grades</i>
      <input type="checkbox" class="star" checked="checked"/>
      <label for=""></label>
      </div>
    </p>
  </form> --}}
   {{!--      
        <span class="starRating">
  <input id="rating5" type="radio" name="rating" value="5">
  <label for="rating5">5</label>
  <input id="rating4" type="radio" name="rating" value="4">
  <label for="rating4">4</label>
  <input id="rating3" type="radio" name="rating" value="3">
  <label for="rating3">3</label>
  <input id="rating2" type="radio" name="rating" value="2">
  <label for="rating2">2</label>
  <input id="rating1" type="radio" name="rating" value="1">
  <label for="rating1">1</label>
</span> --}}

<br>
<button class="btn-floating scale-transition waves-effect waves-yellow waves-circle waves-light" type="submit" name="action">
  <div class="icon">★</div>
  <div class="ripples">
    <div class="ripple" tabindex="-1">     </div>
  </div>
</button>
<button class="btn-floating scale-transition waves-effect waves-yellow waves-circle waves-light" type="submit" name="action">
  <div class="icon">★</div>
  <div class="ripples">
    <div class="ripple" tabindex="-1">     </div>
  </div>
</button>
<button class="btn-floating scale-transition waves-effect waves-yellow waves-circle waves-light" type="submit" name="action">
  <div class="icon">★</div>
  <div class="ripples">
    <div class="ripple" tabindex="-1">     </div>
  </div>
</button>
<button class="btn-floating scale-transition waves-effect waves-yellow waves-circle waves-light" type="submit" name="action">
  <div class="icon">★</div>
  <div class="ripples">
    <div class="ripple" tabindex="-1">     </div>
  </div>
</button>
<button class="btn-floating scale-transition waves-effect waves-yellow waves-circle waves-light" type="submit" name="action">
  <div class="icon">★</div>
  <div class="ripples">
    <div class="ripple" tabindex="-1">     </div>
  </div>
</button>
<button class="btn-floating scale-transition waves-effect waves-yellow waves-circle waves-light" type="submit" name="action">
  <div class="icon">★</div>
  <div class="ripples">
    <div class="ripple" tabindex="-1">     </div>
  </div>
</button>
<button class="btn-floating scale-transition waves-effect waves-yellow waves-circle waves-light" type="submit" name="action">
  <div class="icon">★</div>
  <div class="ripples">
    <div class="ripple" tabindex="-1">     </div>
  </div>
</button>
<button class="btn-floating scale-transition waves-effect waves-yellow waves-circle waves-light" type="submit" name="action">
  <div class="icon">★</div>
  <div class="ripples">
    <div class="ripple" tabindex="-1">     </div>
  </div>
</button>
<button class="btn-floating scale-transition waves-effect waves-yellow waves-circle waves-light" type="submit" name="action">
  <div class="icon">★</div>
  <div class="ripples">
    <div class="ripple" tabindex="-1">     </div>
  </div>
</button>
<button class="btn-floating scale-transition waves-effect waves-yellow waves-circle waves-light" type="submit" name="action">
  <div class="icon">★</div>
  <div class="ripples">
    <div class="ripple" tabindex="-1">     </div>
  </div>
</button>

	</div>

{{/each}}